<div class="todo">
    <div class="tabla">
        <div class="tabla-flex">
            <div class="fila header">
                <div class="celda">Titulo1</div>
                <div class="celda">Titulo2</div>
                <div class="celda">Titulo3</div>
                <div class="celda">Titulo4</div>
                <div class="celda">Titulo5</div>
            </div>
            <div class="fila">
                <div class="celda">campo1</div>
                <div class="celda">campo2</div>
                <div class="celda">campo3</div>
                <div class="celda">campo4</div>
                <div class="celda">campo5</div>
            </div>
           
        </div>  
    </div>
</div>